*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:#e5e7eb;
  transition:.3s;
}

body.light{
  background:#f3f4f6;
  color:#111;
}

header{
  text-align:center;
  padding:20px;
  background:linear-gradient(45deg,#2563eb,#7c3aed);
  color:white;
}

.top-controls{
  margin:10px auto;
  display:flex;
  justify-content:center;
  gap:10px;
  flex-wrap:wrap;
}

input,select,button{
  padding:8px 10px;
  border-radius:8px;
  border:none;
  outline:none;
}

nav button{
  margin:5px;
  cursor:pointer;
}

main{
  max-width:1100px;
  margin:auto;
}

/* GRID */
.grid{
  display:grid;
  gap:20px;
  padding:20px;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
}

.card{
  background:#111827;
  border-radius:15px;
  padding:15px;
  box-shadow:0 0 10px #0005;
  transition:.2s;
}

body.light .card{
  background:white;
}

.card:hover{
  transform:translateY(-4px);
}

.card img, video{
  width:100%;
  border-radius:10px;
  cursor:pointer;
}

/* PAGINAÇÃO */
.paginacao{
  text-align:center;
  padding:15px;
}

/* LIGHTBOX */
#lightbox{
  display:none;
  position:fixed;
  inset:0;
  background:#000c;
  justify-content:center;
  align-items:center;
}

#lightbox img{
  max-width:90%;
  border-radius:12px;
}

footer{
  text-align:center;
  padding:20px;
}
